In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory



# Any results you write to the current directory are saved as output.

In [2]:
import networkx as nx

In [4]:
routes=pd.read_csv("https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat",names=['Airline','Airline_ID','S_airport','S_airport_id','D_airport',"D_airport_id",'codeshare','stops','equipment'],header=None)
airport=pd.read_csv('https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat',header=None,names=['Airport_ID','Name','City','Country','IATA','ICAO','Latitude','Longitude','Altitude','T_Z','DST','Tz_dataset_time_zone','Type','Source'])

In [5]:
routes.drop(routes[routes['S_airport_id']=='\\N'].index , inplace=True)

routes.drop(routes[routes['D_airport_id']=='\\N'].index , inplace=True)

In [6]:
airport.head()

,Airport_ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,T_Z,DST,Tz_dataset_time_zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [7]:
airport[airport['Country']=='United States'].head()

,Airport_ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,T_Z,DST,Tz_dataset_time_zone,Type,Source
3212,3411,Barter Island LRRS Airport,Barter Island,United States,BTI,PABA,70.134003,-143.582001,2,-9,A,America/Anchorage,airport,OurAirports
3213,3412,Wainwright Air Station,Fort Wainwright,United States,\N,PAWT,70.613403,-159.860001,35,-9,A,America/Anchorage,airport,OurAirports
3214,3413,Cape Lisburne LRRS Airport,Cape Lisburne,United States,LUR,PALU,68.875099,-166.110001,16,-9,A,America/Anchorage,airport,OurAirports
3215,3414,Point Lay LRRS Airport,Point Lay,United States,PIZ,PPIZ,69.732903,-163.005005,22,-9,A,America/Anchorage,airport,OurAirports
3216,3415,Hilo International Airport,Hilo,United States,ITO,PHTO,19.721399,-155.048004,38,-10,N,Pacific/Honolulu,airport,OurAirports

In [8]:
routes.isnull().sum()

Airline             0
Airline_ID          0
S_airport           0
S_airport_id        0
D_airport           0
D_airport_id        0
codeshare       52675
stops               0
equipment          18
dtype: int64

In [9]:
airport_df=airport[airport['Country']=='United States']

In [10]:
id=airport_df['Airport_ID']

In [11]:
len(id.values)

1512

In [12]:
routes.head()

,Airline,Airline_ID,S_airport,S_airport_id,D_airport,D_airport_id,codeshare,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

In [13]:
r_df=pd.DataFrame(columns=['Airline','Airline_ID','S_airport','S_airport_id','D_airport',"D_airport_id",'codeshare','stops','equipment'])

In [14]:
k=[]
j=0
for i in (routes.index).values:
    if(int(routes['S_airport_id'][i]) in  id.values and int(routes['D_airport_id'][i]) in  id.values):
        
        k.append(routes.iloc[i])

IndexError: single positional indexer is out-of-bounds

In [15]:
len(k)

10465

In [16]:
routes_df=r_df.append(k, ignore_index=True)

In [17]:
routes_df

,Airline,Airline_ID,S_airport,S_airport_id,D_airport,D_airport_id,codeshare,stops,equipment
0,2O,146,KKB,7168,SYB,7173,NaN,0,BNI
1,2P,897,BXU,4200,MNL,2397,NaN,0,320
2,3E,10739,JBR,3591,STL,3678,NaN,0,CNC
3,3E,10739,ORD,3830,BRL,5726,NaN,0,CNC
4,3E,10739,ORD,3830,DEC,4042,NaN,0,CNC
...,...,...,...,...,...,...,...,...,...
10460,Y4,5325,MEX,1824,TGZ,1846,NaN,0,319
10461,ZH,4611,CAN,3370,NTG,5475,NaN,0,320
10462,ZH,4611,CAN,3370,PEK,3364,Y,0,330 777 320 737 747
10463,ZH,4611,CKG,3393,XIY,3379,Y,0,737
10464,ZH,4611,CKG,3393,YTY,8876,Y,0,737

In [18]:
edges= [(row['S_airport'], row['D_airport']) for item, row in routes_df[['S_airport', 'D_airport']].iterrows()]
route_graph= nx.Graph()
route_graph.add_edges_from(edges)